:root {
    --main-color: #ff702a;
    --text-color: #fff;
    --bg-color: #111827;
    --big-font: 5rem;
    --h2-font: 2.25rem;
    --p-font:0.9rem;
    
}

body {
    background-color: var(--bg-color);
}